:host {
  width: 100%;
  padding: 10px;
}

.login-contener {
  font-family: "Poppins", sans-serif;
  color: white;
  &__title {
    font-family: "Poppins", sans-serif;
    padding: 0 30px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    input {
      width: 100%;
      font-family: "Poppins", sans-serif;
    }
    &-text {
      margin-top: 0px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      &-button {
        font-family: "Poppins", sans-serif;
        background-color: red;
        width: 100px;
        order: 1;
        padding: 5px;
        font-size: 16px;
        margin-top: 20px;
      }
      &-info {
        margin-top: 0px;
        font-size: 16px;
        color: white;
        text-align: center;
        a {
          text-decoration: none;
          font-size: 18px;
          color: rgb(144, 193, 213);
          z-index: 10;
        }
      }
    }
  }
}
@media (min-width: 500px) {
  .login-contener {
    &__form {
      &-text {
        justify-content: space-between;
        flex-direction: row;
        &-button {
          margin-top: 0px;
        }
        &-info {
          margin-top: 20px;
        }
      }
    }
  }
}
